<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Login - ConnectorDB</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="/www/css/normalize.css">
        <link rel="stylesheet" href="/www/css/main.css">
        <script src="/www/js/vendor/modernizr-2.8.3.min.js"></script>
        {{if .Captcha}}
        <script src='https://www.google.com/recaptcha/api.js'></script>
        {{end}}
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div id="wrap">
        <div id="main">
        <form id="msform">
            <!-- progressbar -->
        	<img id="connectordb-logo" src="/www/img/title_logo_light_xs.png" alt="ConnectorDB"></img>
            {{if .Join}}
        	<div id="container">
        	<ul id="progressbar">
        		<li class="active">Account</li>
        		<li>Goals</li>
        		<li>Data</li>
        	</ul>
        	</div>
        	<!-- fieldsets -->

        	<fieldset>
        		<h2 class="fs-title">Account Setup</h2>
        		<h3 class="fs-subtitle">Step 1 of becoming a cyborg</h3>
        		<input type="text" name="fname" id="fname" placeholder="First Name" />
        		<input type="text" name="lname" id="lname" placeholder="Last Name" onchange="updateName();" />
        		<input type="email" name="email" id="email" placeholder="Email" />
                <hr />
                <input type="text" name="username" id="username" placeholder="Username" onchange="disableUpdateName();"/>
                <input type="password" name="password" id="password" placeholder="Password" />
                <input type="password" name="password2" id="password2" placeholder="Retype Password" onchange="checkPasswordMatch();" />
                {{ if .Captcha }}
                <hr />
                <div class="g-recaptcha" data-sitekey="{{.SiteKey}}"></div>
                {{end}}
        		<input type="button" name="next" class="next action-button" value="Next" />
        	</fieldset>

        	<fieldset>
        		<h2 class="fs-title">Your Goals</h2>
        		<h3 class="fs-subtitle">Research shows that writing down your goals is the first step to achieving them. ConnectorDB will track your progress towards the goals you write below.</h3>
        		<input type="text" name="goal1" id="goal1" placeholder="Exercise" />
        		<input type="text" name="goal2" id="goal2" placeholder="Learn Python programming" />
        		<input type="text" name="goal3" id="goal3" placeholder="Waste less time on the internet" />
        		<p class="fs-text">Hint: Try to make your goals something actionable.
        			"Lose Weight" is not something you can get up and do. "Exercise" is.</p>
        			<p class="fs-text">Remember that ConnectorDB is an experiment.
                    We don't yet know how much we can improve people's lives (if at all).</p>
        		<input type="button" name="previous" class="previous action-button" value="Previous" />
        		<input type="button" name="next" class="next action-button" value="Next" />
        	</fieldset>


        	<fieldset>
        		<h2 class="fs-title">Star Ratings</h2>
        		<h3 class="fs-subtitle">Your devices will gather some data for you,
        			but ConnectorDB relies on your ratings to see what you think of your life.</h3>
        		<input type="text" name="rank1" id="rank1" placeholder="Productivity" />
        		<input type="text" name="rank2" id="rank2" placeholder="Motivation" />
        		<input type="text" name="rank3" id="rank3" placeholder="Mood" />
        		<input type="text" name="rank4" id="rank4" placeholder="Social" />
        		<input type="text" name="rank5" id="rank5" placeholder="Health" />
        		<p class="fs-text">Each box you fill out will correspond to a 5-star rating that you will be prompted to fill in once a day.</p>
        		<input type="button" name="previous" class="previous action-button" value="Previous" />
        		<input type="submit" name="submit" class="submit action-button" value="Submit" />
        	</fieldset>
            {{else}}
            <!-- If there was an error or if join is disabled for some reason -->
            <h2 style="color: white; text-align: center; width: 400px; height: 300px; position:absolute; top: 50%; left: 50%; margin-left: -200px;margin-top:-150px;">{{ .ErrMsg }}</h2>
            {{end}}
        </form>
        
    </div>
    
    </div>

        <div id="footer">
            ConnectorDB {{ .Version }}<br/>
            &copy; 2015 The <a href="http://connectordb.org" >ConnectorDB</a> contributors.<br/>Theme based upon example by <a href="http://codepen.io/atakan/pen/gqbIz">Atakan Goktepe</a>.
        </div>


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/www/js/vendor/jquery-1.11.3.min.js"><\/script>')</script>
        <script src="/www/js/plugins.js"></script>
        <script src="/www/js/main.js"></script>


        <script>
        
        var isvalidchange = true;
        // On change text
        function updateName() {
            if (isvalidchange) {
                var firstname = $("#fname").val();
                if (firstname.length > 0) {
                    firstname = firstname[0]
                }
                $("#username").val((firstname + $("#lname").val()).toLowerCase());
            }
        }
        function disableUpdateName() {
            isvalidchange = false;
        }
        function checkPasswordMatch() {
            if ($("#password").val()!=$("#password2").val()) {
                alert("Passwords do not match");
            }
        }
        
        
        //jQuery time
        var current_fs, next_fs, previous_fs; //fieldsets
        var left, opacity, scale; //fieldset properties which we will animate
        var animating; //flag to prevent quick multi-click glitches

        function animator(cur,next,fdone) {
        	cur.fadeOut(200,function() {
        		next.fadeIn(200,fdone);
        	})
        }
        
        function showNext(){
        	if(animating) return false;
        	animating = true;

        	current_fs = $(this).parent();
        	next_fs = $(this).parent().next();

        	//activate next step on progressbar using the index of next_fs
        	$("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");

        	animator(current_fs,next_fs,function() {animating=false;});

        }

        $(".next").click(showNext);

        $(".previous").click(function(){
        	if(animating) return false;
        	animating = true;

        	current_fs = $(this).parent();
        	previous_fs = $(this).parent().prev();

        	//de-activate current step on progressbar
        	$("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");

        	animator(current_fs,previous_fs,function() {animating=false;});
        });

        $(".submit").click(function(){
            // Set up the structure that will be sent to create the new user
            var dat = {
                    {{ if .Captcha }}
                    captcha: grecaptcha.getResponse(),
                    {{ end }}
                    name: $("#username").val(),
                    nickname: $("#fname").val(),
                    email: $("#email").val(),
                    password: $("#password").val(),
                    streams: [],
                };
                
            //Validate the data
            
            // Make sure that the name,nickname,email and password are set up correctly.
            if (dat.name=="" || dat.nickname=="" || dat.email=="" || dat.password=="" || dat.password!=$("#password2").val()) {
                alert("Please fill in all of the fields under ACCOUNT");
                return false;
            }
            
            // Now set up the streams
            var hadrating = false;
            for (i=1;i<= 5;i++) {
                val = $("#rank"+i).val()
                if (val.replace(/\s+/g, '').toLowerCase()!="") {
                hadrating = true;
                    dat.streams.push({
                        name: "rating_"+ val.replace(/\s+/g, '').toLowerCase(),
                        nickname: val,
                        description: val + " 5 star rating",
                        schema: {type: "integer",minimum: 0, maximum: 5},
                    });
                }
            }
            if (!hadrating) {
                alert("Come on, fill in at least one rating!");
                return false;
            }
            hadrating=false;
            for (i=1;i<= 3;i++) {
                val = $("#goal"+i).val()
                if (val.replace(/\s+/g, '').toLowerCase()!="") {
                    hadrating = true;
                    dat.streams.push({
                        name: "goal_"+ val.replace(/\s+/g, '').toLowerCase(),
                        nickname: val,
                        description: "A life goal",
                        schema: {type: "object",  properties: { 
                            hours: {type: "number",minimum: 0},
                            summary: {type: "string"}}},
                    });
                }
            }
            if (!hadrating) {
                alert("Really? No goals in life? Maybe ConnectorDB isn't for you...");
                return false;
            }
            
            
            console.log(JSON.stringify(dat));
            $.ajax({
                url: '/join',
                type: "POST",
                xhrFields: {
                    withCredentials: true
                },
                data: JSON.stringify(dat),
                success: function(msg) {
                    location.href="/";
                },
                error: function(xhr, textStatus, errorThrown){
                   var response = JSON.parse(xhr.responseText);
                   console.log(response);
                   alert("Could not add user: "+response.msg);
                }
                
            });
        	return false;
        })

        </script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <!--
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='https://www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script>
    -->
    </body>
</html>
