{{template "header" .}}

<div class="login-page">
{{ if .Join }}
  <div class="form">
    <img id="connectordb-logo" src="/www/img/square.png" alt="ConnectorDB"></img>

    <form class="login-form">
      {{template "join" .}}
    </form>
  </div>
  {{template "footer" .}}
  {{else}}
  <!-- If there was an error or if join is disabled for some reason -->
  <h2 style="color: white; text-align: center; width: 400px; height: 300px; position:absolute; top: 50%; left: 50%; margin-left: -200px;margin-top:-150px;">{{ .ErrMsg }}</h2>
</body>
</html>
  {{end}}
