# These are all files that are generated at one point or another
connectordb
assets/public
assets/setup
assets/docs
src/api/pb
docs/_build
docs/api.swagger.json


*.exe
*.test
*.prof

*.o
*.a
*.so
*.sqlite
*.sqlite3
*.pyc
*.pid
*.out
*.db
*.orig
*.egg-info
*.log


# Folders
_obj
_test
bin/
database_test/
test/