<!DOCTYPE html>
<html lang="en">
<head>
	{{template "headerscripts"}}
	<title>{{.Device.Name}} | ConnectorDB</title>
</head>
<body>
{{template "navbar" .}}

	<div class="jumbotron minitron">
		<div class="container">
			<h1>Data Collector</h1>
			<p class="lead">Information about {{.Device.Name}} and the data it provides</p>
		</div>
	</div>

	<div class="container">


<!-- STANDARD SUB-PAGE ===================================================== -->

<div class="row">
	<div class="col-md-3" id="sidebar">
		<div class="list-group">
			<div class="list-group-item" id="profile">
				<img class="pageIcon" {{.Device.Icon | .DataURIToAttr}}></img>

				<hr>
				<b>{{.Device.Name}}</b><br>
				<p>{{default .Device.Description "_This device has no description yet_"}}</p>
			</div>
			{{if eq .ThisUser.UserId .User.UserId}}
			<a href="#editModal" class="list-group-item" data-toggle="modal"><i class=" material-icons sidebar-icon">settings</i>Edit Device</a>
			<a href="#newStreamModal" class="list-group-item" data-toggle="modal"><i class=" material-icons sidebar-icon">create</i>Create New Stream</a>
			{{end}}

<!--
			<a href="#" class="list-group-item"><i class=" material-icons sidebar-icon">archive</i>Download All Data</a>
-->
			<a href="/api/v1/crud/{{.User.Name}}/{{.Device.Name}}" class="list-group-item"><i class=" material-icons sidebar-icon">code</i>Developer View</a>
			<a href="/api/v1/crud/{{.User.Name}}/{{.Device.Name}}?q=ls" class="list-group-item"><i class=" material-icons sidebar-icon">code</i>Stream Developer View</a>

		</div>
	</div>

	<div class="col-md-9">
				<ol class="breadcrumb">
				<li><a href="/{{.User.Name}}">{{.User.Name}}</a></li>
				<li class="active">{{.Device.Name}}</li>
			</ol>


		<table class="table">
			<thead>
			</thead>
			<tbody>


				{{range $element := .ReadStreams}}
				<tr>
					<td>
						<img class="mainTableImage" {{$element.Icon | $.DataURIToAttr }}></img>
					</td>
					<td>
						<h4><a href="/{{$.User.Name}}/{{$.Device.Name}}/{{$element.Name}}">{{$element.Name}}</a></h4>
						<p>
							{{default $element.Description "_This stream doesn't have a description yet_"}}</p>
						<span class="mainTableFooter text-muted"></span>
						<span class="lock">
							{{/*
							{{if $element.IsVisible}}
								<small class="text-muted" style="color:green;">
									<i class="material-icons">lock_open</i> Public</small>
							{{else}}
								<small class="text-muted" style="color:red;">
									<i class="material-icons">lock_outline</i> Private</small>
							{{end}}
							*/}}
						</span>
					</td>
				</tr>
				{{end}}
			</tbody>
		</table>
	</div>
</div>



<!--

Modification modals

-->

{{if eq .ThisUser.UserId .User.UserId}}
<div class="modal fade" tabindex="-1" id="editModal" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
	    <div class="modal-content">
	     	<div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
	        	<h4 class="modal-title" id="editModalLabel">Edit Device</h4>
	      	</div>
	      	<div class="modal-body">
				<form id="deviceedit" onsubmit="return submitUpdate('#deviceedit')" action="/api/v1/crud/{{.User.Name}}/{{.Device.Name}}">
					<div class="form-group row">
						<label for="Nickname" class="col-sm-2 form-control-label">Nickname</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" name="Nickname" placeholder="Nickname" value="{{ .Device.Nickname }}"></input>
						</div>
					</div>
					<div class="form-group row">
						<label for="Description" class="col-sm-2 form-control-label">Description</label>
						<div class="col-sm-10">
							<textarea class="form-control" name="Description" placeholder="Description, markdown supported">{{ .Device.Description }}</textarea>
						</div>
					</div>
					<button type="submit" class="btn btn-primary">Submit</button>
				</form>
			</div>
		</div>
	</div>
</div>




<div class="modal fade" tabindex="-1" id="newStreamModal" role="dialog" aria-labelledby="newStreamModal" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="newStreamModal">New Stream</h4>
			</div>
			<div class="modal-body">
				<form id="newStream" onsubmit="return submitForm('#newStream', 'Name')" action="/api/v1/crud/{{.User.Name}}/{{.Device.Name}}">
					<div class="form-group row">
						<label for="Name" class="col-sm-2 form-control-label">Name</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" name="Name" placeholder="The official device name, may not contain spaces, \ / ? or #" required="true" pattern="[^/\\ ?\t\n\r#]+"></input>
						</div>

					</div>
					<div class="form-group row">
						<label for="Nickname" class="col-sm-2 form-control-label">Nickname</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" name="Nickname" placeholder="The name everyone will see for this device."></input>
						</div>
					</div>
					<div class="form-group row">
						<label for="Description" class="col-sm-2 form-control-label">Description</label>
						<div class="col-sm-10">
							<textarea class="form-control" name="Description" placeholder="Description, markdown supported"></textarea>
						</div>
					</div>

					<div class="form-group row">
						<label for="Type" class="col-sm-2 form-control-label">Type of data</label>
						<div class="col-sm-10">
							<select class="form-control" name="Type">
							  <option value="{&quot;type&quot;:&quot;number&quot;}">Numeric</option>
							  <option value="{&quot;type&quot;:&quot;string&quot;}">String</option>
							  <option value="{&quot;type&quot;:&quot;object&quot;}">Object</option>
							</select>
						</div>

					</div>

					<button type="submit" class="btn btn-primary">Submit</button>
				</form>

			</div>
		</div>
	</div>
</div>
{{end}}

{{template "footer"}}
</div>

{{template "footerscripts"}}


</body>
</html>
