

<!DOCTYPE html>
<html lang="en">
<head>
	{{template "headerscripts"}}
	<title>ConnectorDB {{Version}}</title>
</head>
<body>

{{template "navbar" .}}
	<div class="jumbotron minitron">
		<div class="container">
			<h1>Overview</h1>
			<p class="lead">Find information about ConnectorDB</p>
			    {{template "header" .}}
		</div>
	</div>

<div class="container">
<div class="row">
	<div class="col-md-3" id="sidebar">
		<div class="list-group">
			<a href="/{{.ThisUser.Name}}" class="list-group-item"><i class="material-icons sidebar-icon">account_circle</i>My Account</a>
			<a href="/api/v1/crud/?q=ls" class="list-group-item"><i class=" material-icons sidebar-icon">code</i>Users Developer View</a>
		</div>
	</div>




	<div class="col-md-9">
		<table class="table">
			<thead>
			</thead>
			<tbody>
				{{range $element := .ReadUsers}}
				<tr>
					<td>
						<img class="mainTableImage" {{$element.Icon | $.DataURIToAttr }}></img>
					</td>
					<td width="99%">
						<h4><a href="/{{$element.Name}}">{{$element.Name}}</a></h4>
                        <p>{{default $element.Description "_This user has no description yet_"}}</p>
					</td>
				</tr>
				{{end}}
			</tbody>
		</table>
	</div>

</div>

{{template "footer"}}
</div>

{{template "footerscripts"}}
</body>

</html>
