<!DOCTYPE html>
<html lang="en">
<head>
	{{template "headerscripts"}}
	<title>{{.Stream.Name}} | ConnectorDB</title>
</head>
<body>

{{template "navbar" .}}

	<div class="jumbotron minitron">
		<div class="container">
			<h1>Stream of Data</h1>
			<p class="lead">Information about {{.Stream.Name}} and the data it provides</p>
		</div>
	</div>

	<div class="container">


		<!-- STANDARD SUB-PAGE ===================================================== -->

		<div class="row">
			<div class="col-md-3" id="sidebar">
				<div class="list-group">
					<div class="list-group-item" id="profile">
						<img class="pageIcon" {{.Stream.Icon | .DataURIToAttr }}></img>

						<hr>
						<b>{{html .Stream.Name}}</b><br>
						<p>{{html .Stream.Description}}</p>
					</div>
					<a href="#" class="list-group-item"><i class=" material-icons sidebar-icon">archive</i>Download All Data</a>

					<a href="/api/v1/crud/{{.User.Name}}/{{.Device.Name}}/{{.Stream.Name}}" class="list-group-item"><i class=" material-icons sidebar-icon">code</i>Developer View</a>

				</div>
			</div>

			<div class="col-md-9">
				<ol class="breadcrumb">
					<li><a href="/{{.User.Name}}">{{.User.Name}}</a></li>
					<li><a href="/{{.User.Name}}/{{.Device.Name}}">{{.Device.Name }}</a></li>
					<li class="active">{{.Stream.Name }}</li>
				</ol>


				<table class="table">
					<thead>
					</thead>
					<tbody>
						<tr><th>Name</th><td>{{ .Stream.Name }}</td></tr>
						<tr><th>Nickname</th><td>{{default .Stream.Nickname "_This stream doesn't have a nickname_" }}</td></tr>
						<tr>
							<th>Description</th>
							<td>
								{{default .Stream.Description "_This stream has no description yet_"}}
							</td>
						</tr>

						<tr>
							<th>Schema</th>
							<td><code>{{.Stream.Type | html}}</code></td>
						</tr>

						<tr>
							<th>Live</th>
							<td>
								{{if .Stream.Ephemeral }}
								This stream is live, that means it <b>does not</b> store data.
								{{else}}
								The data for this stream <b>is</b> accessable after it's uploaded.
								{{end}}
							</td>
						</tr>

						{{if .Stream.Downlink }}
						<tr>
							<th>Downlink</th>
							<td>This stream processes data and publishes it.</td>
						</tr>
						{{end}}


					</tbody>
				</table>

				{{if eq .ThisUser.UserId .Device.UserId}}
				<div class="card ">
					<div class="card-header">
						<h3>Edit Stream</h3>
					</div>
					<div class="card-block">
						<form id="streamedit" onsubmit="return submitUpdate('#streamedit')" action="/api/v1/crud/{{.User.Name | html}}/{{.Device.Name | html}}/{{.Stream.Name | html}}">
							<div class="form-group row">
								<label for="Nickname" class="col-sm-2 form-control-label">Nickname</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" name="Nickname" placeholder="Nickname" value="{{ .Stream.Nickname }}"></input>
								</div>
							</div>
							<div class="form-group row">
								<label for="Description" class="col-sm-2 form-control-label">Description</label>
								<div class="col-sm-10">
									<textarea class="form-control" name="Description" placeholder="Description, markdown supported">{{ .Stream.Description }}</textarea>
								</div>
							</div>

							<button type="submit" class="btn btn-primary">Submit</button>
						</form>

					</div>
				</div>
				{{end}}

			</div>

		</div>

{{template "footer"}}
</div>

{{template "footerscripts"}}

</body>
</html>
