<!DOCTYPE html>
<html lang="en">
<head>
	{{template "headerscripts"}}
	<title>{{.User.Name}} | ConnectorDB</title>
</head>
<body>

	{{template "navbar" .}}
	<div class="jumbotron minitron">
		<div class="container">
			<h1>User</h1>
			<p class="lead">Information about {{.User.Name}} and their data collectors</p>
			{{template "header"}}

		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-3" id="sidebar">
				<div class="list-group">
					<div class="list-group-item" id="profile">
						<img class="pageIcon" {{.User.Icon | .DataURIToAttr }}></img>

						<hr>
						<b>{{.User.Name}}</b><br>
						<p>{{.User.Description | markdown}}</p>

					</div>

					{{if eq .ThisUser.UserId .User.UserId}}
					<a href="#hiddenSettings" class="list-group-item" data-toggle="modal"><i class=" material-icons sidebar-icon">settings</i>My Settings</a>
					<a href="#" class="list-group-item"><i class=" material-icons sidebar-icon">archive</i>Download My Data</a>
					<a href="#newDeviceModal" class="list-group-item" data-toggle="modal"><i class=" material-icons sidebar-icon">create</i>Create New Device</a>
					{{end}}
					<a href="/api/v1/crud/{{.User.Name}}" class="list-group-item"><i class=" material-icons sidebar-icon">code</i>Profile Developer View</a>
					<a href="/api/v1/crud/{{.User.Name}}?q=ls" class="list-group-item"><i class=" material-icons sidebar-icon">code</i>Devices Developer View</a>

				</div>
			</div>




			<div class="col-md-9">
				<table class="table">
					<thead>
					</thead>
					<tbody>
						{{range $element := .ReadDevices}}
						<tr>
							<td>
								<img class="mainTableImage" {{$element.Icon | $.DataURIToAttr }}></img>
							</td>
							<td width="99%">
								<h4><a href="{{$.User.Name}}/{{$element.Name}}">{{$element.Name | html}}</a></h4>
								<p>{{default $element.Description "_This device has no description yet_"}}</p>
								<span class="mainTableFooter text-muted"></span>
								<span class="lock">

									{{if $element.IsVisible}}
										<small class="text-muted" style="color:green;">
											<i class="material-icons">lock_open</i> Public
										</small>
									{{else}}
										<small class="text-muted" style="color:red;">
												<i class="material-icons">lock_outline</i> Private
										</small>
									{{end}}

								</span>
							</td>
						</tr>
						{{end}}
					</tbody>
				</table>

				{{if eq .ThisUser.UserId .User.UserId}}
				<div class="modal fade bd-example-modal-lg" tabindex="-1" id="hiddenSettings" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-lg" role="document">
					    <div class="modal-content">
					     	<div class="modal-header">
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						          <span aria-hidden="true">&times;</span>
						        </button>
					        	<h4 class="modal-title" id="myModalLabel">Settings</h4>
					      	</div>
					      	<div class="modal-body">

								<!-- Public information card -->
								<div class="card">
									<div class="card-header"> <h4>Profile</h4> </div>
									<div class="card-block">
										<form id="useredit" onsubmit="return submitUpdate('#useredit')" action="/api/v1/crud/{{.User.Name}}">
											<div class="form-group row">
												<label for="Nickname" class="col-sm-2 form-control-label">Nickname</label>
												<div class="col-sm-10">
													<input type="text" class="form-control" name="Nickname" placeholder="Nickname" value="{{ .User.Nickname }}"></input>
												</div>
											</div>
											<div class="form-group row">
												<label for="Description" class="col-sm-2 form-control-label">Description</label>
												<div class="col-sm-10">
													<textarea class="form-control" name="Description" placeholder="Description, markdown supported">{{ .User.Description }}</textarea>
												</div>
											</div>

											<button type="submit" class="btn btn-primary">Submit</button>
										</form>
									</div>
								</div>


								<!-- Password Change Card -->
								<div class="card">
									<div class="card-header">
										<h4>Password Change</h4>
									</div>
									<div class="card-block">
										<form id="passchange" onsubmit="return submitUpdate('#passchange')" action="/api/v1/crud/{{.User.Name}}">
											<div class="form-group row">
												<label for="pass" class="col-sm-2 form-control-label">New Password</label>
												<div class="col-sm-10">
													<input type="password" class="form-control" name="Password" placeholder="New Password"></input>
												</div>
											</div>
											<button type="submit" class="btn btn-primary">Submit</button>
										</form>
									</div>
								</div>

								<!-- Delete Account Card -->
								<div class="card card-inverse">
									<div class="card-header card-inverse card-danger">
										<h4>Delete Account</h4>
									</div>
									<div class="card-block">
										<p>While ConnectorDB is in beta we need to manually delete accounts.
											If you'd like to delete your account, send an
											email to
											<a href="mailto:support@connectordb.com">support@connectordb.com</a>
											and we'll be happy to do it for you.</a>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>



				<div class="modal fade" tabindex="-1" id="newDeviceModal" role="dialog" aria-labelledby="newDeviceModal" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
								<h4 class="modal-title" id="newDeviceModal">New Device</h4>
							</div>
							<div class="modal-body">
								<form id="newdevice" onsubmit="return submitForm('#newdevice', 'Name')" action="/api/v1/crud/{{.User.Name}}/">
									<div class="form-group row">
										<label for="Name" class="col-sm-2 form-control-label">Name</label>
										<div class="col-sm-10">
											<input type="text" class="form-control" name="Name" placeholder="The official device name, may not contain spaces, \ / ? or #" required="true" pattern="[^/\\ ?\t\n\r#]+"></input>
										</div>

									</div>
									<div class="form-group row">
										<label for="Nickname" class="col-sm-2 form-control-label">Nickname</label>
										<div class="col-sm-10">
											<input type="text" class="form-control" name="Nickname" placeholder="The name everyone will see for this device."></input>
										</div>
									</div>
									<div class="form-group row">
										<label for="Description" class="col-sm-2 form-control-label">Description</label>
										<div class="col-sm-10">
											<textarea class="form-control" name="Description" placeholder="Description, markdown supported"></textarea>
										</div>
									</div>

									<button type="submit" class="btn btn-primary">Submit</button>
								</form>

							</div>
						</div>
					</div>
				</div>
				{{end}}
			</div>

		</div>

	{{template "footer"}}
	</div>

{{template "footerscripts"}}

</body>
</html>
