{{define "login"}}

<div class="login-page">

  <div class="form">
    <img id="connectordb-logo" src="/www/img/square.png" alt="ConnectorDB"></img>
    <form class="register-form">
      {{template "join" .}} 
      <p class="message">Already registered? <a href="#">Sign In</a></p>
    </form>
    <form class="login-form">
      <input type="text" id="username" placeholder="username"/>
      <input type="password" id="password" placeholder="password"/>
      <button name="loginbtn" id="loginbtn" onclick="return login();">login</button>
      {{if .Join}}
      <p class="message">Not registered? <a href="#">Create an account</a></p>
      {{end}}
    </form>
  </div>
</div>
{{end}}
