{{define "header"}}
<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>ConnectorDB</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="/www/css/normalize.css">
        <link rel="stylesheet" href="/www/css/main.css">
        <script src="/www/js/vendor/modernizr-2.8.3.min.js"></script>
        {{if .Captcha}}
        <script src='https://www.google.com/recaptcha/api.js'></script>
        {{end}}
    </head>
    <body>
    <div style="min-height: 100vh;">
{{end}}

{{define "footer"}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/www/js/vendor/jquery-1.11.3.min.js"><\/script>')</script>
<script src="/www/js/vendor/jquery-ui.min.js"></script>
<script src="/www/js/plugins.js"></script>
<script src="/www/js/login.js"></script>

<div id="footer">
    ConnectorDB {{ .Version }}<br/>
    &copy; 2016 The <a href="http://connectordb.org" >ConnectorDB</a> contributors.<br/>Login theme based upon example by <a href="http://codepen.io/colorlib/pen/rxddKy">Aigars Silkalns</a>.
</div>
</div>
</body>
</html>

{{end}}
