/*
Rest API
*/

.rest_path {
  color: #0e4980;
  font-weight: bold !important;
  border-bottom: 2px solid #0e4980;
}
.rest_verb {
  color: #a52a2a;
  border-bottom: 1px dotted #a52a2a;
}
.rest_params {
  font-weight: bold !important;
}
.rest_body {
  font-weight: bold !important;
}
.rest_path span {
  color: #8b0000;
}

.rest_output {
  font-weight: bold !important;
}

.rest_output_result {
  border-left: 10px solid #0e4980;
}

.rest_output_result pre {
  padding-left: 20px;
}

/*
PipeScript transform tables
*/

.pipescriptdetails {
  width: 100%;
}

table.pipescriptdetails {
  width: 100%;
}
.pipescriptdetails td {
  vertical-align: top;
}

th,
td {
  text-align: left;
  padding: 8px;
}

.pipescriptdetails .highlight {
  background: transparent !important;
}
.pipescriptdetails .highlight pre {
  background: transparent !important;
}

.table-striped tr:nth-child(even) {
  background-color: #f0f0f0 !important;
}
.table-bordered td,
.table-bordered th {
  border: 1px solid #ddd;
  margin: 0;
}
table.table-bordered {
  border-collapse: collapse;
}
.pipescriptargs .highlight {
  background: transparent !important;
}
.pipescriptargs .highlight pre {
  background: transparent !important;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-lg {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}
.btn-outline-primary {
  color: #007bff;
  background-color: transparent;
  background-image: none;
  border-color: #007bff;
}
.btn-outline-dark {
  color: #343a40;
  background-color: transparent;
  background-image: none;
  border-color: #343a40;
}

.btn-outline-dark:hover {
  text-decoration: none;
  color: white;
  background-color: #343a40;
}
