.jumbotron {
	background-color:#005b9d; color:white;
	border-radius: 0px;
	background: linear-gradient(to right,#005b9d,#327bb0);
	box-shadow: inset 0px 5px 10px rgba(0, 0, 0, 0.22);
}

.minitron {
	padding: .5rem .5rem;
}

.cardicon {
	color: rgba(0, 81, 142, .75);
	font-size: 90px  !important;
	text-align: center  !important;
	display:block  !important;
}

.featurette {
	text-align: center;
}

#loginbutton {
	margin-left:.5em;
}


.sidebar-icon {
    vertical-align: middle;
    margin-right: .25em;
	color: rgba(0, 81, 142, .75);
}

.card-img-top {
	width:100%;
	margin:auto;
}

.lead {
	margin-bottom:8px;
}


.footer {
    text-align: center;
    margin-top: 3em;
    color: darkgrey;
}

.pageIcon {
	width:200px;
	height:200px;
	border-radius:10px;
	background-image: url('/app/assets/branding/square.png');

    background-size: 200px 200px;
    background-repeat: no-repeat;
	margin-left:auto;
	margin-right:auto;
	display:block;
}

.mainTableImage {
	width:100px;
	height:100px;
}

.mainTableFooter {
	font-size:.8em;
}

.lock {
	float:right;
}
